@model OnlineShop.DBModels.UserViewModel

@{
    Layout = null;
}

<script>
    rooturl = '@Url.Content("~")';
</script>

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Login</title>

    <!-- Custom fonts for this template-->
    <link href="~/Assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="~/Assets/css/sb-admin.css" rel="stylesheet">

    <script src="~/Scripts/jquery-3.4.1.js"></script>
</head>

<body class="bg-dark">

    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">Login</div>
            <div class="card-body">
                <form id="loginForm">
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Username, "", new { @class = "form-control", @placeholder = "Username"})
                        <p class="nameErr"></p>
                    </div>
                    <div class="form-group">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password"})
                        <p class="passErr"></p>
                        
                    </div>
                    <div class="form-group">
                        <input type="button"  class="btn btn-primary btn-block" onclick="LoginUser()" value="Login" />
                        
                        
                    </div>
                </form>
                    
                
                <div class="text-center">
                    <a class="d-block small mt-3" href="@Url.Action("Index","Register")">Register an Account</a>
                    
                </div>
                

            </div>
        </div>
    </div>

    <script>

        var LoginUser = function () {
            debugger

            var un = $("#Username").val();
            var pwd = $("#Password").val();

            if (un == "")
            {
                $(".nameErr").html("Enter username" + " " + '<i class="fa fa-times" aria-hidden="true"><i>');
            }
            else 
            {
                $(".nameErr").html("");
            }


            if (pwd == "") {
                $(".passErr").html("Enter password" + " " + '<i class="fa fa-times" aria-hidden="true"><i>');
            }
            else 
            {
                $(".passErr").html("");
            }

            var data = $("#loginForm").serialize();

            $.ajax({
                url: "/Login/LoginUser",
                type: "POST",
                data: data,
                dataType: 'json',
                success: function (res) {
                    debugger
                    if (res.Result === true) {
                        window.location.href = "/";
                    }
                    else {
                        alert("Login failed");
                    }
                }

            })
        };

       

    </script>


    <!-- Bootstrap core JavaScript-->
    <script src="~/Assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/Assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/Assets/vendor/jquery-easing/jquery.easing.min.js"></script>

</body>



</html>
