
@{
    ViewBag.Title = "OrderSuccess";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

<h4>Your order has been placed successfully. Please click <a href="/">here</a> to go to home page</h4>




