@model IEnumerable<OnlineShop.DBModels.Product>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}



<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        .header {
            overflow: hidden;
            background-color: #f1f1f1;
            padding: 20px 10px;
        }


        .header-right {
            text-align: center;
            font-family: sans-serif;
            color: darkcyan;
        }

        .main-content {
            margin-top: 30px;
            float: left;
            padding: 5px 10px 10px 5px;
            padding-left: 10px;
            margin-left: 60px;
        }

        .content-image img {
            height: 160px;
            width: 160px;
        }

        .content-name {
            font-weight: 600;
            padding-left: 20px;
        }

        .content-price {
            color: red;
            font-weight: 600;
            padding-left: 20px;
        }
    </style>
</head>

<body>

    <div class="header">

        <div class="header-right">
            Welcome to the Online Shop
        </div>
    </div>

    @foreach (var item in Model)
    {
        <div class="main-content">
            <div class="content-image">
                <img src="@item.ImageURL" />
            </div>
            <div class="content-name">
                @item.ProductName
            </div>
            <div class="content-price">
                Price: $@item.Price
            </div>
            @if (Session["UserID"] != null || Session["AdminID"] != null)
            {
                <div class="addtoCart">
                    <a style="display:inline" class="nav-link" href="@Url.Action("AddItem", "Cart", new { id = item.Pid})">
                        <i class="fas fa-shopping-cart"></i>
                        <span>Buy</span>
                    </a>
                    <a style="display:inline" class="nav-link" href="/Product/ProductDetail-@item.Pid">
                        <i class="fas fa-eye"></i>
                        <span> Detail</span>
                    </a>
                    
                </div>
            }
            else
            {
                <a style="display:inline" class="nav-link" href="/Product/ProductDetail-@item.Pid">
                    <i class="fas fa-eye"></i>
                    <span> Detail</span>
                </a>
            }



        </div>
    }

</body>

